@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat', serif;
  font-optical-sizing: auto;
  font-weight: 500;

  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  flex-grow: 1;
}
header,
footer {
  background-color: var(--app-color);
  color: var(--text-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  line-height: 2.5rem;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
}

input,
textarea {
  border: none;
  border-radius: 0.2rem;
  line-height: 1.5rem;
  padding: 0.3rem 0.7rem;
}
input:focus {
  outline: 1px solid var(--accent-color);
  border-radius: 0.5rem;
  border: none;
  transition: all 0.3s ease-in-out;
}

select,
option {
  font-family: inherit;
  line-height: 1.5rem;
  padding: 0.3rem 0.7rem;
}
